@import "tailwindcss";

@font-face {
  font-family: Neuwelt-Medium;
  src: url("/fonts/Neuwelt-Medium.otf");
}

:root {
  scroll-behavior: smooth;
}

* {
  font-family: Neuwelt-Medium;
  /* color: #444444; */
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2,
h3 {
  color: #444444;
}
